<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        description="A custom alert for students with an IEP"
        name="IEP Alert PowerQueries"
        version="1.1.0"
        xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">

    <oauth></oauth>

    <access_request>
      <field table="cc" field="id" access="FullAccess" />
      <field table="cc" field="studentid" access="FullAccess" />
      <field table="students" field="dcid" access="FullAccess" />
      <field table="students" field="id" access="FullAccess" />
      <field table="u_sped_students2" field="additional_adaptations" access="FullAccess" />
      <field table="u_sped_students2" field="books_on_tape" access="FullAccess" />
      <field table="u_sped_students2" field="behavior_plan" access="FullAccess" />
      <field table="u_sped_students2" field="caseload" access="FullAccess" />
      <field table="u_sped_students2" field="disability" access="FullAccess" />
      <field table="u_sped_students2" field="dont_check_spelling" access="FullAccess" />
      <field table="u_sped_students2" field="essays_oral_limit_writing" access="FullAccess" />
      <field table="u_sped_students2" field="extended_time_limit_asmt" access="FullAccess" />
      <field table="u_sped_students2" field="extended_time_limit_testing" access="FullAccess" />
      <field table="u_sped_students2" field="extended_time_oral" access="FullAccess" />
      <field table="u_sped_students2" field="highlight_text" access="FullAccess" />
      <field table="u_sped_students2" field="minimize_work" access="FullAccess" />
      <field table="u_sped_students2" field="oral_presentation" access="FullAccess" />
      <field table="u_sped_students2" field="provide_paper_notes" access="FullAccess" />
      <field table="u_sped_students2" field="read_orally" access="FullAccess" />
      <field table="u_sped_students2" field="reduce_exam_length" access="FullAccess" />
      <field table="u_sped_students2" field="resource_room" access="FullAccess" />
      <field table="u_sped_students2" field="studentsdcid" access="FullAccess" />
      <field table="u_sped_students2" field="use_calculator" access="FullAccess" />
    </access_request>

    <publisher name="Iron County School District Data Team">
        <contact email="data@ironmail.org"/>
    </publisher>
</plugin>
